@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{font-family: 'Open Sans', sans-serif;}
.container{width: 1170px; margin: 0 auto; /* background-color: rgba(0,0,0,.5); */ height: inherit; }


#header{height: 72px; width: 100%; position: fixed; top: 0; left: 0; background: rgba(255,255,255,1); transition: .6s; box-shadow: 0 2px 5px rgba(0,0,0,.15); z-index: 5;}
#header>.container{position: relative;}

#header.addParallaxUp{animation: headerParalaxUp 0.5s ease-in-out forwards;}
@keyframes headerParalaxUp {
    0%{transform: translateY(0px);}
    100%{transform: translateY(-80px);}
}

#header.addParallaxDown72{animation: addParallaxDown72 0.5s ease-in-out forwards;}
@keyframes addParallaxDown72 {
    0%{height: 60px}
    100%{height: 72px;}
}
#header.addParallaxDown60{animation: addParallaxDown60 0.5s ease-in-out forwards;}
@keyframes addParallaxDown60 {
    0%{transform: translateY(-70px); height: 60px;}
    100%{transform: translateY(0);height: 60px;}
}


.header_inner{display: flex; justify-content: space-between; align-items: center; height: 72px; transition: .5s;}
.header_inner .mobile{display: none;}
.header_inner .mobile .mobile-nav{position: absolute; top: 72px; left: 0; width: 100%; display: none;}

.header_inner .mobile .mobile-nav ul li{border-bottom: 1px solid #ddd; background: #333;}
.header_inner .mobile .mobile-nav ul li a{display: block; padding: 20px 10px;text-transform: uppercase; color: rgba(255,255,255,.8)}
.header_inner .right-box{display: flex;}
.header_inner .right-box nav> ul{display: flex;}
.header_inner .right-box nav> ul> li{margin: 0 20px;}
.header_inner .right-box nav> ul> li >a{font-size: 12px; font-weight: 700; color: rgba(0,0,0,.6); position: relative; text-transform: uppercase; padding: 30px 5px}
.header_inner .right-box nav> ul> li a:hover{color: rgba(0,0,0,1); }
.header_inner .right-box nav> ul> li a .mian-menu-deco{display: block; width: 100%; height: 2px; background: #000; position: absolute; bottom: 30%; left: 0; transform: scale(0,1); transition: .3s}
.header_inner .right-box nav> ul> li a:hover .mian-menu-deco{transform: scale(1,1);}
.header_inner .right-box aside{display: flex;}
.header_inner .right-box aside span{margin: 0 10px;}
.header_inner .right-box aside span > i{display: block; width: 1px; height: 10px; background: rgb(187, 187, 187); position: relative; top: 3px}
.header_inner .right-box nav>ul>li >.sub{background: #333; display: none;}
/* .header_inner .right-box nav>ul>li:hover >.sub{display:block;} */
.header_inner .right-box nav>ul>li >.sub>ul{padding: 50px; display: flex;}
.header_inner .right-box nav>ul>li >.sub>ul>li{width: 25%;}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl{line-height: 210%;}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl>dt{width: 100%}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl>dt a:hover{transform: translateX(6px);}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl>dt>a{color: #fff; font-weight: bold; font-size: 11px; text-transform: uppercase; transition: .3s ease-in-out;}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl>dd{width: 100%}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl>dd>a{color: #939393; font-size: 12px;transition: .3s ease-in-out; display: block;}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl>dd>a:hover{transform: translateX(6px); color: #fff}
.header_inner .right-box nav>ul>li >.sub>ul>li>dl img{width: 100%}
.header_inner .right-box nav>ul>li >.sub1,
.header_inner .right-box nav>ul>li >.sub3,
.header_inner .right-box nav>ul>li >.sub5,
.header_inner .right-box nav>ul>li >.sub6
{position: absolute; top: 72px; left:0; width: 100%}
.header_inner .right-box nav>ul>li >.sub24{
    position: absolute; top: 72px;
    width: 225px;
}
.header_inner .right-box nav>ul>li >.sub24>ul{width: 100%; flex-direction: column; padding: 15px 0;}
.header_inner .right-box nav>ul>li >.sub24>ul >li{width: 100%; line-height: 210%;}
.header_inner .right-box nav>ul>li >.sub24>ul >li> a{color: #939393; display: flex; align-items: center; justify-content: space-between; transition: .3s ease-in-out; padding: 0 25px; }
.header_inner .right-box nav>ul>li >.sub24>ul >li> a:hover{text-indent: 6px; color: #fff}
.header_inner .right-box nav>ul>li >.sub24>ul >li> a i{transition: .3s ease-in-out; margin: auto 6px auto auto;}
.header_inner .right-box nav>ul>li >.sub24>ul >li> a:hover i{margin-right: 0;}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub {position: absolute; left:100%; top: 0; width: 225px; background: #333;  display: none;}
/* .header_inner .right-box nav>ul>li >.sub24>ul >li:hover .sub-sub{display: block;} */
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub>ul {padding: 15px 25px; line-height: 210%;}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub2 {top:40px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub3 {top:70px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub4 {top:100px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub5 {top:130px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub6 {top:160px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub7 {top:190px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub8 {top:210px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub9 {top:240px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub10 {top:270px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub11 {top:300px}
.header_inner .right-box nav>ul>li >.sub24>ul >li>.sub-sub>ul>li>a {color: #939393}

/* section1 */
.section1{width: 100%; height: 900px; padding-top: 60px;}
.section1 .slide-container{width: 100%; height: 100%; position: relative;  overflow: hidden; }
.section1 .slide-container ul{width: 100%; height: 100%; position: relative;}
.section1 .slide-container ul li{position: absolute; width: 100%; height: 100%; top: 0; left: 100%; z-index: 4;}
.section1 .slide-container ul li:first-child{left:0}
.section1 .slide-container ul li a{display: block; width: 100%; height: 100%}
.section1 .slide-container ul li a img{width: 100%;}
.section1 .slide-container ul li   .title-box{width: 100%; position: absolute; z-index: 6; height: 100%; top: 0; left: 0; text-align: center; }
.section1 .slide-container ul li   .title-box .title{display: flex; align-items: center; justify-content: center; flex-direction: column; height: 100%}
.section1 .slide-container ul li  .title-box .title h3{ color: #fff; font-size: 18px; }
.section1 .slide-container ul li  .title-box .title h2{ color: #fff; font-size: 70px; font-weight: 700; line-height: 100%; padding: 15px 0;}
.section1 .slide-container ul li  .title-box span{display: block;}
.section1 .slide-container ul li  .title-box span>a{ color: #000; display: inline-block; padding: 10px 32px; font-size: 14px; background: #fff; border: 2px solid #fff; text-transform: uppercase; border-radius: 20px; transition: .3s;}
.section1 .slide-container ul li  .title-box span>a:hover{background: transparent; color: #fff}

.title{text-align: center; padding: 0 15px 80px 15px;}
.title h2{color: #939393; padding: 0 0 10px 0;}
.title h3{font-size: 25px; color: #232323; line-height: 120%;}
.content{width: 100%}
.section2 .content  ul{display: flex;}
.section3 .content  ul{display: flex;}
.section2 .content  ul li{flex-basis: 33.333%; margin: 0 2px;}
.section3 .content  ul li{flex-basis: 25%; margin: 0 2px;}
.content  ul li .column-wrap{padding: 0 15px; background: #fff;}
.content  ul li .column-wrap .img-box{width: 100%}
.content  ul li .column-wrap .img-box img{width: 100%; filter: grayscale(0); transition: .3s ease-in-out;}

/* section2 */
.section2{width: 100%; height: auto; background: #f7f7f7; padding: 130px 0; overflow: hidden;}

.setction2-wrap .content  ul li .column-wrap .img-box{width: 100%}
.setction2-wrap .content  ul li .column-wrap .img-box img{width: 100%; filter: grayscale(0); transition: .3s ease-in-out;}
.setction2-wrap .content  ul li .column-wrap .img-box img:hover{filter: grayscale(1); }
.setction2-wrap .content  ul li .column-wrap .text-box{padding: 45px;}
.setction2-wrap .content  ul li .column-wrap .text-box .text-content{width: 100%; text-align: center;}
.setction2-wrap .content  ul li .column-wrap .text-box .text-content h4{color: #232323; padding: 0 0 12px 0; font-weight: bold;}
.setction2-wrap .content  ul li .column-wrap .text-box .text-content p{font-size: 14px; line-height: 170%; color: #6f6f6f;}
.setction2-wrap .content  ul li .column-wrap .text-box .text-content span{padding: 25px  0 0 0; display: block;}
.setction2-wrap .content  ul li .column-wrap .text-box .text-content span a{display: inline-block; height: 39px; text-align: center;line-height: 34px; padding: 0 40px; border: 2px solid #232323; text-transform: uppercase; border-radius: 19.5px; transition: .3s;}
.setction2-wrap .content  ul li .column-wrap .text-box .text-content span a:hover{background: #232323; color: #fff}

.section2.addParallax .setction2-wrap .title{animation: sec2Ani1 1s ease-in-out forwards;}
.section2.addParallax .setction2-wrap .content ul li:nth-child(1){animation: sec2Ani2 1.2s ease-in-out forwards;}
.section2.addParallax .setction2-wrap .content ul li:nth-child(2){animation: sec2Ani3 1.4s ease-in-out forwards;}
.section2.addParallax .setction2-wrap .content ul li:nth-child(3){animation: sec2Ani4 1.6s ease-in-out forwards;}

@keyframes sec2Ani1 {
    0%{transform: translateY(200px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes sec2Ani2 {
    0%{transform: translateY(1000px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes sec2Ani3 {
    0%{transform: translateY(1000px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes sec2Ani4 {
    0%{transform: translateY(1000px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

/* section3 */
.section3{width: 100%; height: auto; background: #212121; padding: 130px 0; overflow: hidden;}
.section3 h3{color: #fff; font-weight: bold;}

.section3 .content ul li .column-wrap{
    background-color: #fff;
    padding: 60px 40px;
    text-align: center;
    position: relative;
}
.section3 .content ul li .column-wrap::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:.8%;
    left: 0;
    bottom:0;
    background: #ff214f;
    z-index: 1;
    transition: .2s ease-in-out;
}
.section3 .content ul li .column-wrap:hover::after{height: 100%; background: #2f2f2f;}
.section3 .content ul li .column-wrap .text-box{position: relative; z-index: 2;}
.section3 .content ul li .column-wrap .text-box h4{padding: 0 0 25px 0}
.section3 .content ul li .column-wrap .text-box h4 i{font-size: 50px; transition: .2s; color: #ff214f}
.section3 .content ul li .column-wrap:hover .text-box h4 i{ color: #fff}
.section3 .content ul li .column-wrap .text-box h5{font-size: 14px; padding: 0 0 15px 0; font-weight: bold;}
.section3 .content ul li .column-wrap .text-box p{font-size: 14px; color: #6f6f6f; line-height: 170%;}
.section3 .content ul li .column-wrap:hover .text-box p{color: #fff}

.section3.addParallax .content .title{animation: sec3Ani1 1s ease-in-out forwards;}
.section3.addParallax .content ul li:nth-child(1){animation: sec3Ani2 1.2s ease-in-out forwards;}
.section3.addParallax .content ul li:nth-child(2){animation: sec3Ani2 1.4s ease-in-out forwards;}
.section3.addParallax .content ul li:nth-child(3){animation: sec3Ani2 1.6s ease-in-out forwards;}
.section3.addParallax .content ul li:nth-child(4){animation: sec3Ani2 1.8s ease-in-out forwards;}


@keyframes sec3Ani1 {
    0%{transform: translateY(200px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes sec3Ani2 {
    0%{transform: translateY(1000px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes sec3Ani3 {
    0%{transform: translateY(1000px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes sec3Ani4 {
    0%{transform: translateY(1000px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
@keyframes sec3Ani5 {
    0%{transform: translateY(1000px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}

/* section4 */
.section4{width: 100%; background: #fff;}
.section4 .container{width: 100%;}
.section4 .container .sec4-wrap{width: 100%;}
.section4 .container .sec4-wrap .title{padding: 80px 0; text-align: center;}
.section4 .container .sec4-wrap .title div{display: inline-block;}
.section4 .container .sec4-wrap .title div> ul{display: flex;}
.section4 .container .sec4-wrap .title div> ul li{margin: 0 25px;}
.section4 .container .sec4-wrap .title div> ul li a{display: block; padding: 0 0 5px 0; border-bottom: 1px solid transparent; color: #6f6f6f; font-weight: bold;}
.section4 .container .sec4-wrap .title div ul li a:hover,
.section4 .container .sec4-wrap .title div ul li a:focus{border-bottom: 1px solid #6f6f6f;}
.section4 .container .sec4-wrap .content{overflow: hidden; width: 100%}
.section4 .container .sec4-wrap .content .gallery{ width: 100%;height:auto; display: flex; flex-wrap: wrap;}
.section4 .container .sec4-wrap .content .gallery li{flex-basis: 25%; transition: .3s; }

.section4 .container .sec4-wrap .content .gallery li .img-wrap{width: 100%}
.section4 .container .sec4-wrap .content .gallery li .img-wrap .img-btn{width: 100%}
.section4 .container .sec4-wrap .content .gallery li .img-wrap .img-btn img{width: 100%}


/* footer */
#footer{background: #1c1c1c;}
#footer .foot-t{padding: 96px 0 30px 0; border-bottom: 1px solid rgba(255,255,255,.15); display: flex; justify-content: space-between; color: #6f6f6f}
#footer .foot-t .foot_t_left{font-size: 20px;}
#footer .foot-t .foot_t_center{line-height: 150%;}
#footer .foot-t .foot_t_center p a{color: #6f6f6f}
#footer .foot-t .foot_t_center p a:hover{color: red}
#footer .foot-t .foot_t_right .sns{display: flex; margin-top: 20px;}
#footer .foot-t .foot_t_right .sns li{margin-right: 20px;}
#footer .foot-t .foot_t_right .sns li a{color: #6f6f6f; font-size: 12px;}
#footer .foot-b {padding: 50px 0; display: flex; justify-content: space-between;color: #6f6f6f}






@media screen  and (max-width: 1180px){
    .container{width: 100%; padding: 0 20px;}
}
@media screen  and (max-width: 1060px){
    .setction2-wrap .content  ul{flex-direction: column;}
    .setction2-wrap .content  ul li{flex-basis: 100%; margin:5px 0px;}
    .section4 .container .sec4-wrap .content .gallery li{flex-basis: 33.333%; }

}

@media screen  and (max-width: 980px) {
    .content  ul{flex-wrap: wrap; }
    .setction3-wrap .content  ul li{flex-basis: 50%; margin: 0;padding: 5px}
   
}

@media screen  and (max-width: 890px){
    .header_inner .right-box aside{display: none;} 
    .section4 .container .sec4-wrap .content .gallery li{flex-basis: 50%; }
}

@media screen  and (max-width: 800px){
    .header_inner .mobile{display:block;}
    .header_inner .right-box{display: none;} 

    .setction3-wrap .content  ul li{flex-basis: 100%; margin: 0;padding: 5px}
    .section4 .container .sec4-wrap .content .gallery li{flex-basis: 100%; }
}